<launch>
  <rosparam command="load" file="$(find mv_driver)/cfg/params.yaml" />
  <rosparam command="load" file="$(find calibrateCamera)/src/yaml/camera.yaml" />
  <rosparam command="load" file="$(find calibrateCamera)/src/yaml/battlefield.yaml" />
  <rosparam command="load" file="$(find displayer_app)/cfg/RadarDisplayerRos.yaml" />
  <arg name="lvx_file_path" default="livox_test.lvx"/>
  <arg name="bd_list" default="100000000000000"/>
  <arg name="xfer_format" default="0"/>
  <arg name="multi_topic" default="0"/>
  <arg name="data_src" default="0"/>
  <arg name="publish_freq" default="2.5"/>
  <arg name="output_type" default="0"/>
  <arg name="rviz_enable" default="true"/>
  <arg name="rosbag_enable" default="false"/>
  <arg name="cmdline_arg" default="$(arg bd_list)"/>
  <arg name="msg_frame_id" default="livox_frame"/>
  <arg name="lidar_bag" default="true"/>
  <arg name="imu_bag" default="true"/>
  <param name="xfer_format" value="$(arg xfer_format)"/>
  <param name="multi_topic" value="$(arg multi_topic)"/>
  <param name="data_src" value="$(arg data_src)"/>
  <param name="publish_freq" type="double" value="$(arg publish_freq)"/>
  <param name="output_data_type" value="$(arg output_type)"/>
  <param name="cmdline_str" type="string" value="$(arg bd_list)"/>
  <param name="cmdline_file_path" type="string" value="$(arg lvx_file_path)"/>
  <param name="user_config_path" type="string" value="$(find livox_ros_driver)/config/livox_lidar_config.json"/>
  <param name="frame_id" type="string" value="$(arg msg_frame_id)"/>
  <param name="enable_lidar_bag" type="bool" value="$(arg lidar_bag)"/>
  <param name="enable_imu_bag" type="bool" value="$(arg imu_bag)"/>

<!--   <node pkg="mv_driver" type="mv_driver_node" name="sensor_close" output="screen" respawn="true" ns="sensor_close"/> -->
<!--   <node pkg="mv_driver" type="mv_driver_node" name="sensor_far" output="screen" respawn="true" ns="sensor_far"/> -->
<!--   <node name="livox_lidar_publisher" -->
<!--           pkg="livox_ros_driver" -->
<!--           type="livox_ros_driver_node" required="true" -->
<!--           output="screen" args="$(arg cmdline_arg)"/> -->

  <node name="displayer_app" pkg="displayer_app" type="main.py" />
  <node name="hp_limit_helper" pkg="hp_limit_helper" type="hp_limit_helper_node" />
  <node name="yolov5"        pkg="yolo"      type="yolov5"  respawn="true"/>

  <node name="get_depth_node" pkg="get_depth" type="get_depth_node"   respawn="true"/>
  <node pkg="small_map" type="small_map"  name="small_map" output="screen" respawn="true"/>
<!--   <node pkg="serial_port" type="serial_port_node"  name="serial_port" output="screen" respawn="true" /> -->


<!--     <node pkg="detect_kuang" type="serial_port_node"  name="serial_port" output="screen" respawn="true" /> -->
</launch>
